<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>ユーザー情報一覧</title>
    <link href="/css/list.css" rel="stylesheet"></link>
    <meta charset="utf-8" />
  </head>
  <body>
  	<h1>ユーザー情報一覧</h1>
  	<div><a th:href="@{/add}">新規登録はこちら</a></div>
  	   <h1 th:text="${msg}"></h1>
        <p th:text="${msg2}"></p>
        <!--入力した値をth:object="${formModel}"に詰める  -->
        <!--th:valueで初期値が入るようにする  -->
        <form method="post" th:action="@{/list}" th:object="${formModel}">
            <label>名前   :</label>
            <input type="text" name="name" th:value="*{name}"><p>
            <label>アドレス:</label>
            <input type="text" name="email" th:value="*{email}"><p>
            <label>電話番号:</label>
            <input type="text" name="phone" th:value="*{phone}"><p>
            <label>出身地:</label>
            <input type="text" name="birthplace" th:value="*{birthplace}"><p>
            <input type="submit" value="検索">
        </form>
	<table>
			<tr>
				<th>ID</th>
				<th>名前</th>
				<th>アドレス</th>
				<th>電話番号</th>
				<th>出身地</th>
				<th>出身校</th>
				<th>勤務地</th>
				<th>登録日時</th>
				<th>更新日時</th>
				<th>削除日時</th>
			</tr>
		    <tr th:each="user : ${userlist}" th:object="${user}">
		        <td th:text="*{id}"></td>
		        <td th:text="*{name}"></td>
		        <td th:text="*{email}"></td>
		        <td th:text="*{phone}"></td>
		        <td th:text="*{birthplace}"></td>
		        <td th:text="*{birthschool}"></td>
		        <td th:text="*{worklocation}"></td>
		        <td class="center" th:text="${#dates.format(user.createDate, 'yyyy/MM/dd')}"></td>
				<td class="center" th:text="${#dates.format(user.updateDate, 'yyyy/MM/dd')}"></td>
		        <td class="center" th:text="${#dates.format(user.deleteDate, 'yyyy/MM/dd')}"></td>
				 <td class="center"><a th:href="@{/{id}(id=*{id})}">詳細</a></td>
		   </tr>
	</table>
  </body>
</html>